@model List<Framework.Model.ClienteModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <style>
        body {
            font-family: Arial;
            font-size: 12px;
        }
    </style>

</head>
<body>
    <div>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>email</th>
                    <th>Celular</th>
                    <th>Idade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ClienteId</td>
                        <td>@item.Nome</td>
                        <td>@item.Email</td>
                        <td>@item.Celular</td>
                        <td>@item.Idade</td>
                    </tr>

                }
            </tbody>
        </table><br />
        <a href="/Cliente/Lista/?ClienteId=4040">Cliente 4040</a>
        <br />
        <br />
        <br />
        <a href="/Cliente/ListaAjax/" target="_blank">Tabela Ajax</a><br />
      

    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            new DataTable('#example');
        });
    </script>
</body>
</html>
